
body {
    background-color: rgb(43, 57, 70);
}
#beginning-title {
    background-color: blanchedalmond;
    width: 500px;
    height: 300px;
    text-align: center;
    grid-area: 2 / 2 / 5 / 3;
    z-index: 1;
    border: 5px solid white;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}
.game-container {
    display: grid;
    margin: 0px auto 0px auto;
    grid-template-columns: 300px 600px 300px;
    grid-template-rows: 55px 230px 205px 95px 45px;
    grid-gap: 10px;
    height: 670px;
    width: 1220px;
    border-radius: 25px;
    border: 10px solid black;
    background-color: gray;
}
#header {
    grid-area: 1 / 1 / 2 / 4;
    margin: 15px auto;
    text-align: center;
}

#top-left {
    background-color: blue;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
}

#mid-left {
    background-color: green;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    grid-area: 3 / 1 / 4 / 2;
}

#bottom-left {
    background-color: red;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    grid-area: 4 / 1 / 5 / 2;
    text-align: center;
}

#top-right {
    background-color: blue;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
}

#mid-right {
    background-color: green;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    grid-area: 3 / 3 / 4 / 4;
}

#bottom-right {
    background-color: red;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    grid-area: 4 / 3 / 5 / 4;
    text-align: center;
}
#bottom-center {
    grid-area: 5 / 2 / 6 / 3;
    text-align: center;
}

main {
    background-color: rgb(12, 11, 11);
    border: 5px solid white;
    border-radius: 25px;
    grid-area: 2 / 2 / 5 / 3;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

#mid-right, #mid-left {
    text-align: center;
}

#score1, #score2 {
    font-size: 50px;
    margin-top: -50px;
}

.hidden {
    display: none;
}